body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
    margin: 0;
    color: #fff;
}

.header{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    display: none;
}

.dropdown {
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.dropdown li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggleBtn {
    color: #fff;
}

h1, h2, p {
    margin: 0;
}

.header h1 {
    font-size: 1.2rem;
}
ul {
    list-style: none;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    padding-right: 1rem;
}



a {
  font-weight: 500;
  color: #007ced;
  text-decoration: inherit;
}
a:hover {
  color: #379af7;
}

.intro h1, span {
    color: #007ced;
}

button {
    border: 2px solid #fff;
    padding: 0.75rem;
    border-radius: 4rem;
    background-color: #222;
    color: #fff;
    margin: 1rem 1rem 1rem 0rem;
}

.blue {
    border: 2px solid #007ced;
}

.intro {
    margin-top: 10rem;
}
